<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let game of games">
    <div class="card shadow h-100">

      <img 
        *ngIf="game.safeImage"
        [src]="game.safeImage"
        width="250">

      <div class="card-body">

        <h5>{{game.nombre}}</h5>
        <p><strong>Género:</strong> {{game.genero}}</p>
        <p><strong>Precio:</strong> ${{game.precio}}</p>

        <!-- BOTÓN ACTUALIZAR -->
        <button 
          class="btn btn-warning mt-2"
          [routerLink]="['/actualizar', game._id]">
          Actualizar
        </button>

      </div>

    </div>
  </div>
</div>