<form #formAlumno="ngForm" (ngSubmit)="guardarAlumno(formAlumno)">
  <div class="mb-3 mt-3">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" ngModel id="nombre" name="nombre" 
           required pattern="[a-zA-Z-ZáéíóúÁÉÍÓÚñÑ ]*" #nombre="ngModel" placeholder="Solo letras">
    <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
      El nombre es obligatorio y no debe contener números.
    </div>
  </div>

  <div class="mb-3">
    <label for="edad">Edad:</label>
    <input type="number" class="form-control" ngModel id="edad" name="edad" 
           required min="18" max="79" #edad="ngModel" placeholder="Mínimo 18">
    <div *ngIf="edad.invalid && edad.touched" class="text-danger">
      Debes ser mayor de 17 años y menor de 80
    </div>
  </div>

  <div class="mb-3">
    <label for="carrera">Carrera:</label>
    <input type="text" class="form-control" ngModel id="carrera" name="carrera" 
           required pattern="^([^0-9]*)$" #carrera="ngModel" placeholder="Carrera sin números">
    <div *ngIf="carrera.invalid && carrera.touched" class="text-danger">
      La carrera no debe incluir números.
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="formAlumno.invalid">Submit</button>
</form>
<div class="modal fade" id="successModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h5 class="modal-title">¡Éxito!</h5></div>
      <div class="modal-body">Alumno registrado correctamente en MongoDB.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>